.input-wrapper {
  text-align: left;
  margin: 10px 0;
  .input-label {
    display: inline-block;
    margin-bottom: 5px;
    .input-require {
      color: red;
    }
  }
  .input-error-msg {
    color: red;
  }
  .input-text {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height: initial; /* override this prop of bootstrap */
  }
  .input-text:focus,
  .drop-highlight {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .input-file-wrapper {
    display: flex;
    .input-file-name {
      color: #a2a2a2;
      border: 1px solid #ced4da;
      width: calc(100% - 205px);
      padding: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      border-radius: 3px;
      cursor: default;
    }
    .input-file-browse {
      background: #2199f9;
      color: #fff;
      width: 85px;
      padding: 5px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background: #007add;
      }
    }
    .input-file-status {
      width: 120px;
      padding: 5px;
      cursor: pointer;
      .uploading-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(../../assets/icons/icon-loading.svg);
        background-size: cover;
        position: relative;
        top: 8px;
      }
      .uploading i {
        color: #2199f9;
      }
      .upload-success i {
        color: #40e000;
      }
      .upload-fail i {
        color: red;
      }
    }
  }
  .text-red {
    color: red;
  }
  .input-search-wrapper {
    position: relative;
    .input-icon-search,
    .input-icon-clear {
      position: absolute;
      top: 10px;
      color: #a8a8a8;
      font-size: 1em;
      cursor: pointer;
      transition: 0.15s ease-in-out;
      &:hover {
        color: #333333;
      }
    }
    .input-icon-search {
      left: 8px;
    }
    .input-icon-clear {
      right: 8px;
    }
    .input-text-seach {
      padding-left: 27px;
      padding-right: 27px;
    }
  }
}
