.song-wrapper {
  .search-section {
    position: relative;

    .btn-add-new {
      position: absolute;
      right: 0;
    }
  }

  .td-song-info {
    display: flex;
    flex-direction: row;

    .song-picture {
      width: 34px;
      height: 34px;
      float: left;
      margin-right: 5px;
      border-radius: 3px;
    }
    .song-title {
      color: #323232;
      font-weight: bold;
      font-size: 15px;
      margin-right: 24px;
    }
    .song-artist {
      color: #808080;
      font-size: 13px;
      margin-right: 24px;
    }
  }
}

.song-upsert-modal {
  .title-artist-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title-artist {
    width: 60%;
  }
  .picture {
    width: 32%;
    position: relative;

    &:hover img {
      opacity: 0.5;
    }

    img {
      width: 100%;
      transition: 0.2s;
    }

    .btn-wrapper {
      position: absolute;
      bottom: 10px;
      right: 2px;
    }
  }
}
