.song-upsert-modal {
  .title-artist-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .uploading {
    color: #2199f9;
  }
  .title-artist {
    width: 60%;
  }
  .picture {
    width: 30%;
    position: relative;
    margin-top: 10px;

    &:hover img {
      opacity: 0.5;
    }

    img {
      width: 100%;
      transition: 0.2s;
    }

    .btn-wrapper {
      position: absolute;
      bottom: 10px;
      right: 2px;
    }
  }
  .path-wrapper {
    display: flex;
    .input-wrapper {
      width: 100%;
      margin-right: 5px;
    }
    .btn-reset-path {
      position: relative;
      top: 29px;
    }
  }
}
