.song-upsert-modal {
  // TODO remove important
  max-width: min(900px, 90vw) !important;
  .title-artist-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .uploading {
    color: #2199f9;
  }
  .title-artist {
    width: 100%;
    margin-right: 4%;
  }
  .picture {
    height: 140px;
    position: relative;
    margin-top: 10px;

    &:hover img {
      opacity: 0.5;
    }

    img {
      height: 100%;
      transition: 0.2s;
    }

    .btn-wrapper {
      position: absolute;
      bottom: 10px;
      right: 2px;
    }
  }
  .album-path {
    display: flex;
    justify-content: space-between;
    .box-album {
      width: 48%;
    }
    .box-path {
      width: 48%;
      display: flex;
      .input-path {
        width: 100%;
      }
      .btn-reset-path {
        position: relative;
        top: 29px;
      }
    }
  }
  .type-lyric {
    display: flex;
    justify-content: space-between;
    .box-lyric {
      display: flex;
      justify-content: space-between;
      width: 48%;
      .input-lyric {
        width: calc(100% - 25px);
        .lyric-name {
          width: 100%;
        }
      }
      .btn-find-file {
        position: relative;
        top: 46px;
      }
    }
    .box-select {
      width: 48%;
    }
    .download-lyric {
      width: 48%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .nav-tabs {
    a {
      color: #495057;
    }
    .nav-link.active {
      color: #007bff;
    }
  }
  .tab-content {
    min-height: 84px;
  }
}
