.song-upsert-modal {
  max-width: 700px;
  .title-artist-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .uploading {
    color: #2199f9;
  }
  .title-artist {
    width: 100%;
    margin-right: 4%;
  }
  .picture {
    height: 140px;
    position: relative;
    margin-top: 10px;

    &:hover img {
      opacity: 0.5;
    }

    img {
      height: 100%;
      transition: 0.2s;
    }

    .btn-wrapper {
      position: absolute;
      bottom: 10px;
      right: 2px;
    }
  }
  .album-path {
    display: flex;
    justify-content: space-between;
    .input-album {
      width: 48%;
    }
    .path-wrapper {
      width: 48%;
      display: flex;
      .input-path {
        width: 100%;
        margin-right: 5px;
      }
      .btn-reset-path {
        position: relative;
        top: 29px;
      }
    }
  }
  .type-lyric {
    display: flex;
    justify-content: space-between;
    .input-lyric {
      width: 48%;
    }
    .select-type {
      width: 48%;
    }
    .download-lyric {
      width: 48%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
