.song-wrapper {
  .search-section {
    position: relative;

    .btn-add-new {
      position: absolute;
      right: 0;
    }
  }

  .td-song-info {
    display: flex;
    flex-direction: row;

    .song-picture {
      width: 34px;
      height: 34px;
      float: left;
      margin-right: 5px;
      border-radius: 3px;
    }
    .song-title {
      color: #323232;
      font-weight: bold;
    }
    .song-artist,
    .song-album,
    .song-extra-info {
      color: #808080;
      font-size: 0.9em;
    }
  }
}

.song-upsert-modal {
  .title-artist-picture {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .uploading {
    color: #2199f9;
  }
  .title-artist {
    width: 60%;
  }
  .picture {
    width: 30%;
    position: relative;
    margin-top: 10px;

    &:hover img {
      opacity: 0.5;
    }

    img {
      width: 100%;
      transition: 0.2s;
    }

    .btn-wrapper {
      position: absolute;
      bottom: 10px;
      right: 2px;
    }
  }
}

.show-picture-modal {
  width: 460px !important;
  div {
    text-align: center;
    img {
      width: 400px;
      max-height: 500px;
    }
  }
}
