.app {
  .app-content {
    margin: 8px 8%;
  }
}

/* Icon button */
.icon-btn-action {
  cursor: pointer;
}
.icon-btn-edit {
  transition: 0.1s;
  color: #2199f9;
  &:hover {
    color: #0068ff;
  }
}
.icon-btn-delete {
  transition: 0.1s;
  color: #ff0000;
  &:hover {
    color: #cc0000;
  }
}

/** Width **/
.width50 {
  width: 50%;
  display: inline-block;
}
