.app {
  margin: 0 20px;
  * {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

/* Icon button */
.icon-btn-action {
  cursor: pointer;
}
.icon-btn-edit {
  transition: 0.1s;
  color: #2199f9;
  &:hover {
    color: #0068ff;
  }
}
.icon-btn-delete {
  transition: 0.1s;
  color: #ff0000;
  &:hover {
    color: #cc0000;
  }
}

/** Width **/
.width10 {
  width: 10%;
  display: inline-block;
}
.width20 {
  width: 20%;
  display: inline-block;
}
.width25 {
  width: 25%;
  display: inline-block;
}
.width30 {
  width: 30%;
  display: inline-block;
}
.width50 {
  width: 50%;
  display: inline-block;
}
.width60 {
  width: 60%;
  display: inline-block;
}
.width70 {
  width: 70%;
  display: inline-block;
}
.width75 {
  width: 75%;
  display: inline-block;
}
