$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$primary-color: #333333;
$primary-color-1: #616161; // nhạt hơn
$primary-color-2: #161616; // đậm hơn
$primary-color-shadow: #333333ad;
$secondary-color1: #640cab;
$secondary-color1-1: #9053c1;
$secondary-color1-2: #4d0885;
$secondary-color2: #1049a9;
$secondary-color2-1: #567dbf;
$secondary-color2-2: #0c3883;
$color-gray: gray;
$color-gray-1: #c9c9c9;
$color-gray-1-1: #e2e2e2;
$color-gray-1-2: #b3b3b3;

$body-padding-lr: 3%; // lr: left, right
$margin-tb: 20px; // tb: top, bottom

$shadow-blur: 0 4px 12px 2px;

$radius-big: 12px;
$radius-medium: 8px;
$radius-small: 4px;
$radius-square: 50%;
